
.login-page {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 5rem;
    background: #c4dbef;
    border-radius: 1.5rem;
    box-shadow: -.5rem .5rem .5rem #c7c0c0;
}


h2 {
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
}

.login-page input {
    width: 90%;
    outline: none;
    border: 1px solid #eee;
    padding: .8rem 1.5rem;
    margin: 1rem;
    font-size: 15px;
    border-radius: .7rem;
}

.login-page input[type="submit"] {
    background: #fd5000;
    color: white;
    max-width: 250px;

    cursor: pointer;
    font-size: 18px;
    border: none;
    font-weight: 600;
    transition: all .5s ease;
}

.login-page input[type="submit"]:hover {
    transform: scale(0.9);
    transition: all .5s ease;
}


@media screen and (max-width: 800px) {
    #login {
        padding: 1rem;
    }

    .login-page {
        position: relative;
        width: 100%;
        padding: 1rem;
    }

    .form-order {
        padding: 1rem;
    }

    .login-page input, textarea {
        margin: 8px 0;
    }

    .login-page textarea {
        margin: 10px 0;
    }
}

@media screen and (max-width: 500px) {
    .form-login input {
        font-size: 16px;
    }
}

.signUp {
    display: block;
    margin-bottom: 2rem;
}